<h1 [id]="textEntity.id" [ngClass]="textEntity.generateClassString()" *ngIf="textEntity.textType === 'h1'">{{textEntity.content}}</h1>

<h2 [id]="textEntity.id" [ngClass]="textEntity.generateClassString()" *ngIf="textEntity.textType === 'h2'">{{textEntity.content}}</h2>

<h3 [id]="textEntity.id" [ngClass]="textEntity.generateClassString()" *ngIf="textEntity.textType === 'h3'">{{textEntity.content}}</h3>

<p [id]="textEntity.id" [ngClass]="textEntity.generateClassString()" *ngIf="textEntity.textType === 'p'">{{textEntity.content}}</p>