<h1 i18n [id]="textEntity.id" [ngClass]="textEntity.generateClassString()" *ngIf="textEntity.textType === 'h1'">{{textEntity.content}}</h1>

<h2 i18n [id]="textEntity.id" [ngClass]="textEntity.generateClassString()" *ngIf="textEntity.textType === 'h2'">{{textEntity.content}}</h2>

<h3 i18n [id]="textEntity.id" [ngClass]="textEntity.generateClassString()" *ngIf="textEntity.textType === 'h3'">{{textEntity.content}}</h3>

<p i18n [id]="textEntity.id" [ngClass]="textEntity.generateClassString()" *ngIf="textEntity.textType === 'p'">{{textEntity.content}}</p>