<banner-section></banner-section>

<header-section></header-section>

<presentation-section [imagePath]="'../../assets/BloodPool-light.webp'">
    <h3 class="dark:text-gray-50 xl:text-4xl lg:text-3xl text-2xl font-bold text-center">Hunt in the night with <span class="dark:text-red-300 text-red-800">$VMP</span></h3>
    <h4 class="dark:text-gray-50 xl:text-2xl lg:text-xl font-bold text-center mt-10 xl:mx-20">
        Stake VMP in our Blood Pools and enjoy the fresh taste newly bitten victims. Earn tokens such as
        MATIC, ETH, FISH and many others. <br>Keep your food diversified.
    </h4>
    <button class="bg-pink-700 text-white font-bold lg:text-xl md:text-lg p-2 rounded-md mt-5 hover:ring-4 hover:ring-pink-500">Visit the pools <fa-icon [icon]="faChevronRight" class="ml-2"></fa-icon></button>
</presentation-section>

<div class="w-1/2 xl:h-80 md:h-60 h-48 mt-3 md:mt-0 border-r-4 dark:border-white border-gray-900"></div>

<presentation-section [additionalClasses]="secondPresentation" [imagePath]="'../../assets/PlasmaFarm.webp'">
    <h3 class="dark:text-gray-50 xl:text-4xl lg:text-3xl text-2xl font-bold text-center">Grow your <span class="dark:text-red-300 text-red-800">$VMP</span> coven</h3>
    <h4 class="dark:text-gray-50 xl:text-2xl lg:text-xl font-bold text-center mt-10 xl:mx-20">
        Earn VMP at great rates in the Plasma Farms. Get yourself some more VMP by staking liquidity with vampire pairs
        or with stable pairs. <br>Grow your coven now!
    </h4>
    <button class="bg-pink-700 text-white font-bold lg:text-xl md:text-lg p-2 rounded-md mt-5 hover:ring-4 hover:ring-pink-500">Visit the farms <fa-icon [icon]="faChevronRight" class="ml-2"></fa-icon></button>
</presentation-section>

<div class="w-1/2 xl:h-64 md:h-48 h-40 mt-3 md:mt-0 border-r-4 dark:border-white border-gray-900"></div>

<div class="flex flex-col items-center">
    <h2 class="dark:text-white xl:text-4xl text-3xl text-center mt-16 font-bold">Many more to come ...</h2>
    <button class="bg-pink-700 text-white font-bold text-xl p-2 rounded-md mt-5 hover:ring-4 hover:ring-pink-500 mb-20">Check out the roadmap</button>
</div>