<div class="rounded-md">
    <apx-chart 
        *ngIf="chartOptions !== null" 
        [chart]="chartOptions.chart" 
        [series]="chartOptions.series"
        [dataLabels]="chartOptions.dataLabels"
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke"
        [fill]="chartOptions.fill"
        [theme]="chartOptions.theme"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [tooltip]="chartOptions.tooltip"
        [title]="chartOptions.title"
        [markers]="chartOptions.markers"
        [colors]="chartOptions.colors"
        [noData]="chartOptions.noData"
        [responsive]="chartOptions.responsive">
    </apx-chart>
</div>